

<h1 align="center">Login page</h1>
<div class="container" style="background-color: white;">
<form name="regForm"  class="mb-4" >
<table align="center" class="table table-success table-stripped lh-lg"  >
    <tr>
        <td> <label for="username">UserName: </label></td>
        <td><input type="text" name="username"  class="form-control" required  placeholder="abcd@gmail.com" ></td>
    </tr>
   
    <tr>
        <td><label for="password"> Password:</label></td>
        <td><input type="password" name="pass" class="form-control"> </td>
    </tr>

<tr>
<td></td>
<td >
    <input type="submit" value="Login" class="btn btn-outline-primary btn-lg"class="form-control">
    <input class="btn btn-outline-danger btn-lg" type="reset"  value="cancel"  class="form-control">
</td>
</tr>



</table>


</form>

</div>