<hr>
<h3>Enter a number:<input type="number"[(ngModel)]="num">
 <button type="button" (click)="factorial()">Factorial</button></h3>
 <h3>Factorial:{{result}}</h3>
 <h3>Enter a number:<input type="number"[(ngModel)]="num1">
 <input type="number"[(ngModel)]="num2">
    <button type="button" (click)="sum()">Sum</button></h3>
    <h3>Sum of 2 numbers:{{resultsum}}</h3>
    <h3>Enter a number:<input type="number"[(ngModel)]="num3">
        <input type="number"[(ngModel)]="num4">
           <button type="button" (click)="product()">Product</button></h3>
           <h3>Product of 2 numbers:{{resultproduct}}</h3>
           <h3>Enter a number:<input type="number"[(ngModel)]="num5">
            <input type="number"[(ngModel)]="num6">
               <button type="button" (click)="division()">Division</button></h3>
               <h3>Division of 2 numbers:{{resultquotient}}</h3>
               <h3>Enter a number:<input type="number"[(ngModel)]="num7">
                <input type="number"[(ngModel)]="num8">
                   <button type="button" (click)="modulus()">Modulus</button></h3>
                   <h3>Modulus of 2 numbers:{{resultmodulus}}</h3>
                   <h3>Enter a number:<input type="number"[(ngModel)]="num9">
                    <input type="number"[(ngModel)]="num10">
                       <button type="button" (click)="power(num9,num10)">Power</button></h3>
                       <h3>Power of 2 numbers:{{resultpower}}</h3>

                       <h3>Enter a number:<input type="number"[(ngModel)]="num11">
                        <input type="number"[(ngModel)]="num12">
                           <button type="button" (click)="sub()">Difference</button></h3>
                           <h3>Difference of 2 numbers:{{resultsub}}</h3>


                           <h3>Enter a number:<input type="number"[(ngModel)]="num13">
                            
                               <button type="button" (click)="oddeven(num13)">Oddeven</button></h3>
                               <h3>result:{{resultoddeven}}</h3>

                               <h3>Enter a number:<input type="number"[(ngModel)]="num15">
                                
                                   <button type="button" (click)="cube()">Cube</button></h3>
                                   <h3>Cube of a number:{{resultcube}}</h3> 

                                   <h3>Enter a number:<input type="number"[(ngModel)]="num16">
                                
                                    <button type="button" (click)="sumofdigits(num16)">SUM of DIGITS</button></h3>
                                    <h3>sum of digit of a number:{{resultsumdigit}}</h3> 